# KiCad junk files
*.bak
*.kicad_prl
*.kicad_pcb-bak
*.kicad_sch-bak
*.log

# KiCad autosave/history
.history/
schematic/.history/

# KiCad history
.history/

# KiCad local settings
*.kicad_prl

# Proteus workspace files
*.workspace

# Proteus backup files
Project Backups/